
.main-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.title-container {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    left: 15%;
}

.more-information {
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    padding: 40px 20px;
    letter-spacing: 3px;
    position: absolute;
    top: 750px;
    left: 5%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.title-container > p {
    font-family: 'Sora', sans-serif;
    font-size: 100px;
    font-weight: 50px;
    letter-spacing: 5px;
}

.form-outer-container {
    flex-grow: 5;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.try-button {
    right: 230px;
    top: 50%;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.img-grid-container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.img-grid {
    position: absolute;
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 10px; 
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.img-grid img {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.slideFromRight {
    animation: 1s ease-out 0s 1 slideInFromRight;
}
