
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/trialpage.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Questrial&family=Sora:wght@699&display=swap" rel="stylesheet">
        {{ dropzone.load_css() }} 
        {{ dropzone.load_js() }}
    </head>
    <body>
        <div class="background-image"></div>

        {% block content %}{% endblock %}
    </body>
</html>
